TELEGRAM_BOT_TOKEN= 8624164570:AAFZBUmLaP9hiSGJoUcnsP7Yf4JuOVnkkxU
ANTHROPIC_API_KEY= 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
OLX_EMAIL= liletka@abv.bg
OLX_PASSWORD= Desigual78
